/*~~~~~~~~~~~~~~~*\
  RESET
\*~~~~~~~~~~~~~~~*/

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~*\
  CONTENT
\*~~~~~~~~~~~~~~~*/

h1 {
  font-size: 2.7rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

p {
  text-align: left;
  margin-bottom: .5rem;
}

hr {
  border: none;
  margin-top: -1px;
  margin-bottom: .5rem;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

header a {
  text-decoration: none;
}

nav {
  color: #7b8993;
  padding-bottom: 1.5rem;
}

nav a{
  text-decoration: none;
}

footer {
  padding-top: 1.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}

a:hover {
  color: #00aee8;
}

.title {
  color: #00aee8;
  background-image: -webkit-linear-gradient(90deg,#00aee8,#47ceff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

@media (min-width: 650px) {
  .title {
    font-size: 4.8rem;
  }
}

.active {
  color: #4c555c;
}

.subHeader {
  color: #7b8993;
  padding-top: 1.25rem;
  text-align: center;
}

.detail {
  font-size: small;
  text-align: center;
}

figure {
  padding-bottom: 1.25rem;
}

figcaption {
  color: #7b8993;
  font-size: x-small;
}

.me {
  width: 100%;
}


/*~~~~~~~~~~~~~~~*\
  LAYOUT
\*~~~~~~~~~~~~~~~*/

.wrap {
  max-width: 38rem;
  margin: 0 auto;
}

/*~~~~~~~~~~~~~~~*\
  BASE
\*~~~~~~~~~~~~~~~*/

html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow: hidden-x;
  text-align: center;
}

@media (min-width: 650px) {
  html {
    height: 100%;
  }

  html:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  body {
    display: inline-block;
    vertical-align: middle;
    max-width: 38rem;
    padding: .25rem;
  }
}

/*~~~~~~~~~~~~~~~*\
  ANIMATIONS
\*~~~~~~~~~~~~~~~*/

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-90deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}